[submodule "forks/Libstreams"]
	path = forks/Libstreams
	url = https://github.com/doctashay/Libstreams.git
[submodule "forks/bootstrap_cmds"]
	path = forks/bootstrap_cmds
	url = https://github.com/doctashay/bootstrap_cmds.git
[submodule "forks/xnu"]
	path = forks/xnu
	url = https://github.com/doctashay/xnu.git
[submodule "forks/bootx"]
	path = forks/bootx
	url = https://github.com/doctashay/BootX.git
[submodule "forks/dyld"]
	path = forks/dyld
	url = https://github.com/doctashay/dyld.git
[submodule "forks/objc4"]
	path = forks/objc4
	url = https://github.com/doctashay/objc4.git
[submodule "forks/cctools"]
	path = forks/cctools
	url = https://github.com/doctashay/cctools.git
[submodule "forks/ld64"]
	path = forks/ld64
	url = https://github.com/doctashay/ld64.git
[submodule "forks/launchd"]
	path = forks/launchd
	url = https://github.com/doctashay/launchd.git
[submodule "forks/configd"]
	path = forks/configd
	url = https://github.com/doctashay/configd.git
[submodule "forks/dtrace"]
	path = forks/dtrace
	url = https://github.com/doctashay/dtrace.git
[submodule "forks/kext_tools"]
	path = forks/kext_tools
	url = https://github.com/doctashay/kext_tools.git
[submodule "forks/libsecurity_ssl"]
	path = forks/libsecurity_ssl
	url = https://github.com/doctashay/libsecurity_ssl.git
[submodule "forks/mDNSResponder"]
	path = forks/mDNSResponder
	url = https://github.com/doctashay/mDNSResponder.git
[submodule "modules/ppcFanControl"]
	path = modules/ppcFanControl
	url = https://github.com/doctashay/ppcFanControl.git
